<li>
  <a href='/admin'>
    <i class='large material-icons' style='margin: 2px;'>list</i>
    Ingresar
  </a>
</li>
<li class='divider'></li>
<li>
  <a href='/admin/add'>
    <i class='large material-icons' style='margin: 2px;'>security</i>
    Agregar usuarios
  </a>
</li>