<h1>Añadir usuario</h1>
<br />
<div class='col s2'></div>
<div class='col s10'>
  <label for=''>Ingrese el nombre del usuario:</label>
  <input type='text' name='' id='input' />
  <br />
  <label for=''>Ingrese el número de control:</label>
  <input type='text' name='' id='input' />
  <br />
  <label for=''>Ingrese el numero de marbete:</label>
  <input type='text' name='' id='input' />
  <br />
  <label for=''>Ingrese el rol:</label>
  <input type='text' name='' id='input' />
  <br />
  <a href='/' class='btn-large waves-effect waves-light teal'>
    Crear
  </a>
</div>
<div class='col s2'></div>