<br /><br />
<div
  class='row center light-blue lighten-4'
  style='padding: 2em; border-radius: 1em;'
>
  <h1 class='header center teal-text'>
    Bienvenido al SGV ITGAM
  </h1>
  <div class='row center'>
    <h5 class='header col s12 light grey-text text-darken-3'>
      Un sistema el cual ayudará a tener un control mas optimo del
      estacionamiento del ITGAM.
    </h5>
  </div>
  <div class='row center'>
    <a href='/admin/adminView' class='btn-large waves-effect waves-light teal'>
      Ingresar
    </a>
  </div>
</div>